body {

  font-size: 18px;
  color: #6e6a3a;
  font-family: Arial, sans-serif;
  background-image: url(https://kurziokode.github.io/woman.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;

}

section {
  margin-bottom: 20px;

}

h1,
h2,
h3 {
  font-weight: lighter;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 42px;
  opacity: 0.5;
  padding: 50px;
  border: 2px solid #0f0f0f;

}

h3 {
  font-size: 18px;

}

h5 {
  font-size: calc(100vw /7);
  font-weight: 900;
  color: #111111;
  opacity: 0.6;
  user-select: none;
  cursor: default !important;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
  white-space: nowrap;
  z-index: -1;


}

h6 {
  font-size: calc(100vw /22);
  font-weight: 900;
  color: #161616;
  opacity: 0.5;
  user-select: none;
  cursor: default !important;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
  white-space: nowrap;
  z-index: -1;


}


a {
  font-size: 24px;
  font-weight: lighter;
  color: #323232;
  text-decoration: none;
}

a:hover {
  color: #049510;
}


ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin-bottom: 10px;
}

footer {
  background-color: #00000044;
  color: #4a0202;
  padding: 10px;
  text-align: center;
}

@media screen and (min-width: 1922px) {
  body {
    filter: brightness(2.5);
    filter: contrast(2);
  }
}


/* Extra small devices (phones) */
@media only screen and (max-width: 575px) {
 
  h1 {
    font-size: 24px; /* Change font size */
    /* Change font color */
  }
  p {
    font-size: 16px; /* Change font size */
     /* Change font color */
  }
  a {
    font-size: 16px; /* Change font size */
   /* Change font color */
  }
}

/* Small devices (tablets) */
@media only screen and (min-width: 576px) and (max-width: 767px) {

  h1 {
    font-size: 32px; /* Change font size */
     /* Change font color */
  }
  p {
    font-size: 18px; /* Change font size */
    /* Change font color */
  }
  a {
    font-size: 18px; /* Change font size */
    /* Change font color */
  }
}

/* Medium devices (laptops) */
@media only screen and (min-width: 768px) and (max-width: 991px) {

  h1 {
    font-size: 48px; /* Change font size */
    /* Change font color */
  }
  p {
    font-size: 20px; /* Change font size */
    /* Change font color */
  }
  a {
    font-size: 20px; /* Change font size */
    /* Change font color */
  }
}

/* Large devices (desktops) */
@media only screen and (min-width: 992px) {

  h1 {
    font-size: 64px; /* Change font size */
     /* Change font color */
  }
  p {
    font-size: 22px; /* Change font size */
     /* Change font color */
  }
  a {
    font-size: 22px; /* Change font size */
    /* Change font color */
  }
}






