body {
  background-color: #0b0c0e;
  font-size: 28px;
  color: #390202;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #00000044;
 
  padding: 10px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
 
}

nav ul li {
  margin-right: 10px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  color: #4a0202;
  text-decoration: none;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

h1, h2, h3 {
  font-weight: normal;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 27px;
}

h3 {
  font-size: 18px;
  
}

a {
  color: #4a0202;
text-decoration: none;
}


p {
  font-size: 27px;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin-bottom: 10px;
}

footer {
  background-color: #00000044;
  color: #190101;
  padding: 10px;
  text-align: center;
}
