@import url("https://fonts.googleapis.com/css?family=Poppins:100,300&display=swap");


.e-white {
  background-color: rgb(28, 27, 27);
}

.t-white {
  color: rgb(35, 32, 32);
}

.e-black {
  background-color: #000;
}

.t-black {
  color: #000;
}

.t-dark {
  color: var(--dark);
}

.e-color {
  background-color: var(--color);
}

.e-dark {
  background-color: var(--dark);
}

.t-color {
  color: var(--color);
}

.e-gray {
  background-color: var(--gray);
}

.t-gray {
  color: var(--gray);
}

.t-100 {
  font-weight: 300;
}

.t-400 {
  font-weight: 400;
}

.t-500 {
  font-weight: 500;
}

.t-700 {
  font-weight: 700;
}

.t-900 {
  font-weight: 900;
}

.e-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.e-flex-col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.e-flex-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.e-rel {
  position: relative;
}

.e-abs {
  position: absolute;
}

.e-fixed {
  position: fixed;
}

.e-wp {
  width: 100%;
}

.e-hp {
  height: 100%;
}

.e-85 {
  width: 85%;
}

.e-85w {
  width: 85vw;
}

.e-wvw {
  width: 100vw;
}

.e-hvh {
  height: 100vh;
}

.e-dn {
  display: none;
}

.e-img-fit {
  object-fit: cover;
}

.t-center {
  text-align: center;
}

.e-hidden {
  overflow: hidden;
}

.e-curp {
  cursor: pointer;
}

e-upper {
  text-transform: uppercase;
}

button {
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  border-spacing: 0;
  color: #26589F;
  outline: none;
  padding: 0;
}

@media only screen and (min-width: 1025px) {
  .e-mobile {
    display: none;
  }
}


body {
  --color: #88ce04;
     background: url('https://kurziokode.github.io/edu/view2.jpg');
     opacity: 1;
  font-family: "Poppins", monospace;
  font-weight: lighter;
  color: #000;
  overflow: hidden;
}

canvas#view {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
}

.btns {
  position: fixed;
  bottom: 20vh;
  width: 100vw;
  z-index: 1;
}

ul.btns__hold {
  width: 80vw;
  flex-wrap: wrap;
  gap: 0.9rem;
}

.btns__each {
  cursor: pointer;
  background: rgb(2, 2, 2);
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0.33rem 1.9rem;
  border-radius: 50px;
  color: #ff04e6b1;
  font-weight: 1000;
}














.words {

  color: #ff04e667;
  opacity: 0.4;
  line-height: 1.5;
}

.words span {
  font-size: 8rem;
  display: inline-block;
  animation: move 3s ease-in-out infinite;
}

@keyframes move {
  0% {
    transform: translate(-30%, 0);
  }

  50% {
    text-shadow: 0 25px 50px rgba(0, 0, 0, 0.75);
  }

  100% {
    transform: translate(30%, 0);
  }
}

.words span:nth-child(2) {
  animation-delay: 0.5s;
}

.words span:nth-child(3) {
  animation-delay: 1s;
}

.words span:nth-child(4) {
  animation-delay: 1.5s;
}

.words span:nth-child(5) {
  animation-delay: 2s;
}

.words span:nth-child(6) {
  animation-delay: 2.5s;
}

.words span:nth-child(7) {
  animation-delay: 3s;
}



body{
  margin: 0;
  padding: 0;

  overflow: hidden;
  min-height:100vh;
}
.pen{
  position: absolute;
  bottom: 0;
  left:89%;
  transform: translate(-50%,0);
  width: 80px;
  height:60%;
  background: #ab8260;
  border-radius:8px;
  box-shadow: 1px -35px 60px -20px #fff;
}

.m1{
  position: absolute;
  top:0;
  left:0;
  width: 20px;
  height:100%;
  background:#954901;
  animation: m1Anim 5s linear  infinite;
  border-radius: 120px 150px 0 0;
  box-shadow: inset -5px 5px 5px 0px #8d4a00;
}
.m2{
  position: absolute;
  top:0;
  left:20px;
  width: 40px;
  height:100%;
  background: #d68a00;
  animation: m2Anim 5s linear infinite;
  border-radius: 150px 150px 0 0;
  box-shadow: inset -5px 2px 5px 0px #eca841,
              inset 3px 0px 5px 0px #8d4a00;
}
.m3{
  position: absolute;
  top:0;
  right:0;
  width: 20px;
  height:100%;
  background: #ed9e00;
  animation: m3Anim 5s linear infinite;
  box-shadow: inset 5px 5px 5px 0px #f1b05f;
  border-radius: 150px 120px 0 0;
}
.sh{
  position: absolute;
  top:-143px;
  
  right:0;
  width: 100%;
  height:160px;
  
  background-image: linear-gradient(85deg,#ab8260,#815e3e,#caa68c,#a77c60);
  clip-path: polygon(50% 0%, 100% 91%, 100% 100%, 0 100%, 0 91%);
  box-shadow:  inset 20px 15px 20px 10px #8d5e31;
                
}
.pn{
   position: absolute;
  top:0;
  
  right:0;
  width: 100%;
  height:50px;
  
  background-image: linear-gradient(82deg,#26221e,#26221e,#26221e,#26221e,#26221f,#9d9397,#26221f,#26221e,#26221e,#26221e);
 
}
@keyframes m1Anim {
  0%{
     background:#a41259;
     box-shadow: inset -2px 2px 5px 0px #ef95bd;
  }
  16.5%{
     background:#a41259;
     box-shadow: inset -2px 2px 5px 0px #ef95bd;
  }
 33%{
    background:#0c3e6e;
     box-shadow: inset -1px 2px 5px 0px  #4b95c9;
  }
  49.5%{
    background:#0c3e6e;
     box-shadow: inset -1px 2px 5px 0px  #4b95c9;
  }
  66%{
    background: #007868;
     box-shadow: inset -1px 2px 5px 0px   #089e92;
  }
   82.5%{
    background:#007868;
     box-shadow: inset -1px 2px 5px 0px    #089e92;
  }
  100%{
     background:#a41259;
     box-shadow: inset -2px 2px 5px 0px #ef95bd;
  }
}
@keyframes m2Anim {
  0%{
     background: #ea4e95;
  
  box-shadow: inset -5px 2px 5px 0px #f38cb6,
              inset 3px 0px 5px 0px #ef95bd;
  }
  16.5%{
     background: #ea4e95;
  
  box-shadow: inset -5px 2px 5px 0px #f38cb6,
              inset 3px 0px 5px 0px #ef95bd;
  }
  33%{
    background:#02659a; 
     box-shadow: inset -4px 2px 5px 0px  #4b95c9,
              inset 1px 0px 5px 0px #4b95c9;
  }
  49.5%{
    background:#02659a; 
     box-shadow: inset -4px 2px 5px 0px  #4b95c9,
              inset 1px 0px 5px 0px #4b95c9;
  }
  66%{
   
      
      background:#04a294;  
    box-shadow: inset -4px 2px 5px 0px   #2acfc1,
              inset 1px 0px 5px 0px #2acfc1;
  }
  82.5%{   
      background:#04a294;
    box-shadow: inset -4px 2px 5px 0px   #2acfc1,
              inset 1px 0px 5px 0px #2acfc1;
  }
  100%{
     background: #ea4e95;

   box-shadow: inset -5px 2px 5px 0px #f38cb6,
              inset 3px 0px 5px 0px #ef95bd;
  }
}
@keyframes m3Anim {
  0%{
     background: #f08ab6;
  
  box-shadow: inset 5px 5px 5px 0px #f49ac3;
  }
  16.5%{
     background: #f08ab6;
  
  box-shadow: inset 5px 5px 5px 0px #f49ac3;
  }
  33%{
    background:#1383bb;
      box-shadow: inset 2px 2px 5px 0px #6fb5e1;
  }
  49.5%{
    background:#1383bb;
      box-shadow: inset 2px 2px 5px 0px #6fb5e1;
  }
  66%{
    background:#018e7e ;
      box-shadow: inset 2px 2px 5px 0px #30d7c6;
  }
  82.5%{
    background:#018e7e ;
      box-shadow: inset 2px 2px 5px 0px #30d7c6;
  }
  100%{
     background: #f08ab6;
  
  box-shadow: inset 5px 5px 5px 0px #f49ac3;
  }
}

